doctype
title Login - JSFight

#login
	form(action='lobby',method='post')
		|Player Name 
		input(name='name' type='text')  
		|Password 
		input(name='password',type='password')
		input(type='submit')
		a(href='/register') register